/*START Dark Mode Styling*/
.body-dark{
    background-color: rgb(9, 8, 14);
}

.dark-to-light-dark{
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}

.name-dark,.date-dark{
    background-color: whitesmoke;
    color: black;

    font-size: 0.9rem;
    font-weight: 800;
    padding:10px 0 10px 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;

}

.display-dark p{
    color: white;

}





/*END OF Dark Mode Styling*/
